.curent-img {
  font-size: 100px;
}
.curent-img-weather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.curent-weather p {
  margin-top: 0;
  margin-bottom: 0;
  color: #02325a;
  font-size: 20px;
}
@media (min-width: 640px) {
  .curent-img-weather {
    width: none;
  }
}
